html, body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
    margin: 0 auto;
}
@media screen and (max-width: 600px) {
  /* Apply styles here for screens 600px or narrower */
}

#application {
    width: 600px;
    margin: 0 auto;
    padding-left: 90px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large;
    font-weight: bold;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    display: float;  /* inline-block; */
    flex-wrap: nowrap;
    position:relative;
    width: max-content;
    left: -45px;
}
.application {
    width: 50%;
    margin: 0 auto;
}
.commandMenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	width: 342px;
    text-align: left;
}
.chartMenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	width: 342px;
    text-align: left;
}
.processInformation {
    outline: 3px solid rgb(67, 67, 207);
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
    font-weight: bold;
    align-content: center;
	width: 513px;
    text-align: center;
    position:relative;
    top: -21px;
    left: 0px;
    height:20px;
    background-color: darkgreen;
    color: white;
}
.command {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	width: 30px;
	text-align: left;
}
.label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	width: 150px;
	text-align: right;
}
.table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
#addItemsMenu {
    display: block;
}
.listitem {
    font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
    text-align: left;
    position: relative;
    width: 300px;
    height: 18px;
}
.undobutton {
    width: 24px;
    height: 24px;
    top: 4px;
    position:relative;
    margin-right: 2px;
    z-index: 0;
}
.udimage {
    width: 24px;
    height: 24px;
    position: absolute;
    left: -2px;
    top: -3px;
    margin-right: 2px;
    z-index: 12;
}
.btnSeeCurrent {
    font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
    background-color: rgb(70, 70, 180);
    color: white;
	border-radius:10px; 
    border-width: 1px;
    padding:0px;
    position:absolute;
    top: 117px;
    left: 510px;
    height: 38px;
    width: 150px;
}
.btnSeeCurrent:active {
  transform: translateY(2px);
  box-shadow: 0 5px #666;
}
.btnAddCommand {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
    background-color: rgb(70, 70, 180);
    color: white;
	border-radius:10px; 
    border-width: 1px;
    padding:0px;
    position:relative;
    top: -75px;
    left: 364px;
    height: 38px;
    width: 150px;
    display: block;
}
.btnAddCommand:active {
  transform: translateY(2px);
  box-shadow: 0 5px #666;
}
.btnUndoCommand {
    width: 24px;
    height: 24px;
    top: 4px;
    position:relative;
    margin-right: 2px;
    z-index: 0;
}
.btnSelectAll {
    font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
    background-color: rgb(70, 70, 180);
    color: white;
	border-radius:10px; 
    border-width: 1px;
    padding:0px;
	position: relative;
    top: 0px;
    left: 18px;
    height: 38px;
    width: 150px;
    display: none;
}
.btnSelectAll:active {
  transform: translateY(2px);
  box-shadow: 0 5px #666;
}
.btnUnselectAll {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
    background-color: rgb(70, 70, 180);
    color: white;
	border-radius:10px; 
    border-width: 1px;
    padding:0px;
	position: relative;
    top: 0px;
    left: -16px;
    height: 38px;
    width: 150px;
    display: none;
}
.btnUnselectAll:active {
  transform: translateY(2px);
  box-shadow: 0 5px #666;
}
.spacer {
    height: 8px;
}
.btnReset {
    font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
    text-align:center;
    align-content: center;
    background-color: black;
    color: white;
	border-radius:10px;
    border-width: 1px; 
    padding:0px;
    position: relative;
    top: 0px;
    left: 0px;
    height: 38px;
    width: 102px;
}
.btnReset:active {
  transform: translateY(2px); 
  box-shadow: 0 5px #666; 
}
.btnRemove {
    font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
    background-color:yellow;
    color: black;
	border-radius:10px; 
    border-width: 1px;
    padding:0px;
	position: relative;
    top: 0px;
    left: 18px;
    height: 38px;
    width: 200px;
}
.btnRemove:active {
  transform: translateY(2px); 
  box-shadow: 0 5px #666; 
}
.btnProcessCharts {
    font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
    background-color:rgb(70, 70, 180);
    color: #fff;
	border-radius:10px; 
    border-width: 1px;
    padding:0px;
    position: relative;
    top: 0px;
    left: 35px;
    height: 38px;
    width:165px;
}
.btnProcessCharts:active {
  transform: translateY(2px);
  box-shadow: 0 5px #666;
}
.buttongroup {
    position:relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    top:0px;
    left: 0px;
    height:40px;
    width: 480px;
}
.btnDownload {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    background-color: rgb(70, 70, 180);
    color: white;
    border-radius: 10px;
    border-width: 1px;
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 285px;
    height: 38px;
    width: 230px;
    visibility: hidden;
}
.btnDownload:active {
  transform: translateY(2px);
  box-shadow: 0 5px #666;
}
.confwindow {
    outline: 3px solid rgb(67, 67, 207);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    position: relative;
    top: -18px;
    height: 324px;
    width: 513px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.commandtable {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    top: 0px;
    left: 0px;
    height: 300px;
    width: 490px;
    margin: 10px;
    padding: 0px;
    display:block;
}
.tablerow {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: left;
    height: 20px;
    width: 480px;
}
.centeredcell {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align:center;
    background-color: white;
    height: 20px;
    width: 480px;
}

/* These classes are for command table entries */
.leftcell {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: left;
    background-color: white;
    border: 1px solid darkgreen;
    padding: 0px;
    color: black;
    height: 20px;
    width: 350px; /* 65%; */
}
.rightcell {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    margin-right: 8px;
    background-color: white;
    border: 1px solid darkgreen;
    padding: 0px;
    overflow-y: hidden;
    color: black;
    height: 20px;
    width: 150px; /* 35%; */
}
.resultspan {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    color: black;
    overflow-y: hidden;
    height: 20px;
}
.dlcheckbox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium; 
    position: relative;
    top: 0px;
    left: 0px;
    float: right;
    height: 14px;
    width: 14px;
    padding:0px;
    outline: 1px solid black;
    display: none;
}
.datediv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium; 
    position: relative;
    top: 0px;
    left: 0px;
    float:inline-start;
    height: 20px;
}
.normal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: left;
    background-color: white;
    color: black;
    height: 20px;
    width: 480px;
}
.boldgreen {
    font-weight: bold;
    text-align: center;
    background-color: darkgreen;
    color: white;
}
.boldyellow {
    font-weight: bold;
    background-color: yellow;
    color: black;
}
.boldred {
    font-weight: bold;
    background-color: red;
    color: white;
}
.timingheader {
    font-weight: bold;
    background-color: lightgreen;
    color: black;
}
.largeLabel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    /* text-align: left; */
}
.blueInput {
    padding-bottom: 10px;
    accent-color: rgb(70, 70, 180);
    height: 20px;
    width: 20px;
}
.running {
    animation: runningProcess 3s infinite
}
.start-animation {
    animation: colorChange 4s infinite; 
}
.stop-animation {
  animation:  none !important;
  transition: none !important;
}
/* For animations */
@keyframes colorChange {
    0% { background-color: darkgreen ; color: white;}
    50% { background-color: yellow; color: black; }
    100% { background-color: darkgreen; color: white;}
}
@keyframes runningProcess {
    0% { background-color: yellow; color: black; }
    50% { background-color: lightgreen; color: black; }
    100% { background-color: yellow; color: black; }
}