
h1 {
    color:darkblue;
    background-color: yellow;
}
.label {
    background-color:white;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 26px;
}
.infolabel {
    background-color:white;
    color: blue;
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    visibility: hidden;
}
.textlabel {
    background-color:white;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 10px;
}
.textbox {
    background-color:white;
    color: black;
    width: 70px;
    padding-left: 20px,;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}
.selectlist {
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    height: 44px;
    width: 192px;
}
#processbutton {
    background-color:cyan;
    border: outset;
    color: darkblue;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 10px;
    cursor: pointer;
    width: 95px;
    height: 75px;
    text-align: center;
    vertical-align: middle;
}