html, body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
.header {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
}
.menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	width: 400px;
    /* display: inline-block; */
	text-align: left;
}
.conflabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	width: 400px;
    text-align: left;
    position:absolute;
    top: 180px;
}
.command {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	width: 30px;
	text-align: left;
}
.label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	width: 150px;
	text-align: right;
}
.table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
.listitem {
    font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
    text-align: left;
    position: absolute;
    width: 300px;
    height: 18px;
}
.addbutton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
    background-color:lightgray;
    color: black;
	border-radius:10px; 
    border-width: 1px;
    padding:15px;
    position:absolute;
    top: 111px;
    left:393px;
}
.addbutton:active {
  transform: translateY(2px);
  box-shadow: 0 5px #666;
}
.sendbutton {
    font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
    background-color:blue;
    color: #fff;
	border-radius:10px; 
    border-width: 1px;
    padding:15px;
    position: absolute;
    top: 560px;
    left: 375px;
    width:165px;
}
.sendbutton:active {
  transform: translateY(2px);
  box-shadow: 0 5px #666;
}
.resetbutton {
    font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
    background-color: lightgray;
    color:black;
	border-radius:10px;
    border-width: 1px; 
    padding:15px;
    position: absolute;
    top: 560px;
    left: 17px;
    width: 102px;
}
.resetbutton:active {
  transform: translateY(2px); 
  box-shadow: 0 5px #666; 
}
.removebutton {
    font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
    background-color:lightgray;
    color: black;
	border-radius:10px; 
    border-width: 1px;
    padding:15px;
	position: absolute;
    top: 560px;
    left: 139px;
}
.removebutton:active {
  transform: translateY(2px); 
  box-shadow: 0 5px #666; 
}
.confwindow {
    outline: 3px solid rgb(67, 67, 207);
    position: absolute;
    top:185px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    left: 0%;
    height: 301px;
    width: 480px;
    margin: 20px;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.commandtable {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    top: -39px;
    left: -25px;
    height: 300px;
    width: 520px;
    margin: 20px;
    padding: 20px;
}
.tablerow {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: left;
    /* outline-style: inset;
    outline-color: black;
    outline-width: 1px;; */
    height: 20px;
    width: 480px;
}
.tablecell {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: left;
    background-color: white;
    height: 20px;
    width: 480px;
}

/* For animations */
@keyframes colorChange {
    0% { background-color: blue; }
    50% { background-color: green; }
    100% { background-color: red; }
}
