html, body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
    /* height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
}

.menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	width: 400px;
    /* display: inline-block; */
	text-align: left;
}

.conflabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	width: 400px;
    text-align: left;
    position:absolute;
    top: 180px;

}

.command {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	width: 30px;
	text-align: left;
}

.label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	width: 150px;
	text-align: right;
}

.table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}

.listitem {
    font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
    text-align: left;
    position: absolute;
    width: 300px;
    height: 14px;
}

.option {
    font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
    text-align: left;   
}

.addbutton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
    background-color:darkgreen;
    color: white;
	border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:15px;
    min-width: 25px;
	position:absolute;
    top: 146px;
    left:402px;
}
.sendbutton {
    font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
    background-color:blue;
    color: #fff;
	border-radius:10px; 
    padding:15px;
    min-height:15px;
    min-width: 25px;
	position: absolute;
    top: 560px;
    left: 375px;
}
.removebutton {
    font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
    background-color:yellow;
    color: black;
	border-radius:10px; 
    padding:15px;
    min-height:15px;
    min-width: 25px;
	position: absolute;
    top: 560px;
    left: 17px;
}
.confwindow {
    outline: 3px solid black;
    position: absolute;
    top:185px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    left: 0%;
    height: 300px;
    width: 480px;
    margin: 20px;
    padding: 20px;
}
.conflist {
    position: absolute;
    top:185px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    left: 0%;
    height: 300px;
    width: 480px;
    margin: 20px;
    padding: 20px;
}
